.head {
    padding-left: 3rem;
    padding-right: 2rem;
}
a.logo {
    font-size: 1.571rem;
}
.btn-txt {
    font-size: 0.7rem;
}
h1 {
    font-size: 1.8rem;
    line-height: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1.1rem;
}
.btn {
    height: 2.5rem;
}
.body-2-card {
    width: auto;
}
.body-2-card>p {
    display: none;
}
#body-2-txt {
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.body-2-card>a {
    font-size: 3rem;
}
.body-3 {
    padding-left: 0.2rem;
}
.body-1, .body-3, .body-4, .body-6, .body-7, .body-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.body-4 {
    padding-left: 1rem;
}
 .body-5 {
     padding-top: 4rem;
     padding-bottom: 2rem;
 }
.body-4-card:last-child {
    background-size: 25rem, 30.0283rem;
    align-self: center;
    height: 22rem;
}
section .body-4-card ul li {
    font-size: 1rem;
}
#slider {
    padding: 0.5rem;
}
#slider>a {
    width: 6rem;
    height: 6rem;
}
.body-6>h2 {
    margin-bottom: 3rem;
}
.body-5 {
    margin-left: 2rem;;
}
.body-7>h2 {
    margin-bottom: 3rem;
}
.body-7>.row {
    flex-wrap: wrap;
    max-width: 30rem;
    justify-content: center;
}
.body-7-card {
    max-width: 30rem;
    margin-bottom: 3rem;
}
.row>h3 {
    margin-left: 1rem;
}
.subscribe-bar {
    margin-left: 0rem;
    width: 30rem;
}
.subscribe-txt {
    width: 70%;
}
.subscribe-btn {
    width: 30%;
}
.body-8 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.body-8>.row {
    justify-content: center;
    flex-wrap: wrap;
}
footer {
    padding: 2rem;
}
footer >div .row:first-child {
    flex-wrap: wrap;
    justify-content: center;
    min-width: 24rem;
}
.ft-card {
    width: 17rem;
    padding: 1rem;
}
.ft-card ul li {
    font-size: 0.7571rem;
    line-height: 1.7rem;
}
@media screen and (max-width: 600px) {
    .ft-card {
            width: 13rem;
    }
}
